/*css reset*/
/*https://stackoverflow.com/questions/18772154/white-space-at-top-of-page*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.featured_top img:hover {
    -webkit-filter: brightness(102%);
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */

.body_container {

    width: 100%;
    max-width: 1800px;
    align-self: center;
}

#logoRow {
    min-height: 89px;
    max-height: 89px;
}

#logo {
    flex-grow: 2;
    padding-top: 10px;
}

.logo_img {
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    height: auto;
}

#userMenu {
    display: flex;
    align-items: center;
    /*line-height: 89px;*/
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
}

.websiteSearch {
    border-bottom: 2px solid;
    border-color: #565656;
    background-color: transparent;
    height: 20px;
    height: 20px;
    width: 200px;
    padding-right: 20px;
    padding-bottom: 8px;
    line-height: 25px;
}

.websiteSearchBtn {
    margin-left: -20px !important;
    margin-right: 20px;
    padding-bottom: 8px;
    width: 20px;
    border: 0;
    -webkit-appearance: none !important;
}

#userMenu > * {
    margin-left: 20px;
}

#userMenu i {
    font-size: 20px;
    color: #1B1B1B;
}

#menuButton {
    display: none;
}

#sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 2;
    padding: 0;
    height: 100%;
    min-height: 500px;
    background-color: #373636;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    display: none;
}

.sideMenuOptions {
    overflow: scroll;
    height: 100%;
    max-height: 90vh;
}

.sideMenuOptions ul {
    font-size: 25px;
    list-style-type: none;
    text-align: left;
}

.sideMenuOptions > ul > li {
    /*overflow: scroll;*/
}

.sideMenuOptions > ul > li > a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
}

.sideMenuOptions > ul > li:hover {
    background-color: #6b6969;
    color: darkturquoise;
}

#sideMenuBk {
    position: fixed;
    overflow: hidden;
    min-height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#menuClose {
    font-size: 50px;
    color: white;
    margin-right: 20px;
    min-height: 50px;
    z-index: 3;
}

#menuNav {
    position: sticky;
    top: 0;
    border-bottom: rgba(27, 27, 27, 0.2) 1px solid;
    border-top: rgba(27, 27, 27, 0.2) 1px solid;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 52px;
    min-height: 40px;
}

.menuNavUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.menuNavUL a {
    padding: 14px 16px;
}

.menu_name {
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ---------------------------------------------------
    HOVER DROPDOWN IN HEADER
----------------------------------------------------- */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    max-height: 20px;
    line-height: normal;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 1px 10px;
    display: block;
    line-height: 40px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.errorMsg {
    color: darkred;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5%;
    display: none;
}

.successMsg {
    color: green;
    margin: 10px;
    background-color: rgba(92, 248, 4, 0.1);
    padding: 10px;
    border-radius: 5%;
    display: none;
}
/* ---------------------------------------------------
    Footer classes
----------------------------------------------------- */

footer {
    padding-top: 30px;
    border-top: rgb(176, 59, 0) 1px solid;
    background-color: #F7F5F3 !important;
    width: 100%;
}

.footer_container {
    width: 90%;
}

.footer_columns, .footer_legal {
    margin-bottom: 20px;
}

.footer_panel {
    width: 200px;
    margin: 10px;
}

.footer_panel h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #6b6969;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: rgba(27, 27, 27, 0.2) 1px solid;
}

.footer_panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer_panel li {
    margin-top: 4px;
}

.footer_container a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none !important;
    color: #6b6969;
}

.footer_legal {
    /*border-top: rgba(27, 27, 27, 0.2) 1px solid;*/
    width: 60%;
    padding-top: 10px;
    align-self: center;
}

.footer_legal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
    width: 100%;
}

/* ---------------------------------------------------
        Common classes
----------------------------------------------------- */
.big_white {
    background-color: #fff;
}

#userMenu i:hover, #menuButton:hover, #filterMenuButton:hover, .menuNavUL li:hover,
.horizon_arrow:hover, .checkbox span:hover, .checkbox input:hover > .checkbox span, .product_pane img:hover ~ .product_name > a, a:hover {
    color: #009c9f !important;
    cursor: pointer;
}

.flex_wrapped_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.flex_wrapped_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_space_between {
    display: flex;
    justify-content: space-between;
}

.mobileHeader {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

#mobileSearch {
    text-align: center;
}

/* ---------------------------------------------------
    LOADING SCREEN
----------------------------------------------------- */
#loading {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.7;
    background-color: #fff;
    z-index: 999;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#loading-image {
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1440px) {

}

@media (max-width: 992px) {

    .footer_legal {
        width: 100%;
    }

}

@media (max-width: 820px) {

    #userMenu {
        display: none;
    }

    #menuNav {
        display: none;
    }

    #menuButton {
        display: block;
        font-size: xx-large;
    }

    .mobileHeader {
        display: flex;
    }

    .footer_legal {

        width: 95%;
    }

}

@media (max-width: 600px) {
    .logo_img {
        width: 80%;
        max-width: 350px;
        height: auto;
    }
}

@media (max-width: 480px) {


}

