
.product_section {
    /*min-height: 700px;*/
    padding-bottom: 100px;
}

.horizon_arrow {
    align-self: center;
    font-size: 30px;
    color: #565656;
}

.container {
    padding: 15px;
    width: 1200px;
    /*width: 100%;*/
    justify-content: space-around;
}


/* ---------------------------------------------------
    Featured top
----------------------------------------------------- */

.highlight_product_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.highlight_product_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column_one_img {
    width: 100%;
    max-width: 470px;
    height: auto;
}

.column_two_img {
    width: 100%;
    max-width: 700px;
    height: auto;

}

.container img:hover {
    cursor: pointer;
}

.popular_product_column {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popular_product_column::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.popular_product_column {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


/* ---------------------------------------------------
    Product List Panel
----------------------------------------------------- */
.product_pane {
    width: 410px;
    min-height: 450px;
    max-height: 480px;
    border: none;
    margin: 48px;
    background: none;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.product_pane img {
    align-self: center;
    max-width: 410px;
    max-height: 380px;
}

.product_pane > div {
    align-self: center;
    text-align: center;
}

.product_name {
    align-self: center;
    word-wrap: break-word;
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    overflow: hidden;

}

.product_name a {
    color: rgb(68, 68, 68);
}

.product_action {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.price {
    color: #212121;
}

.product_buttons > a {
    margin-left: 20px;
    font-size: 17px;
    color: #212121;
}

.section_title {
    font-family: 'Poppins', sans-serif;
    color: #303030;
    line-height: 30px;
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1440px) {
    /*.body_container{*/
    /*    min-width: 1200px;*/
    /*    max-width: 1200px;*/
    /*}*/
}

@media (max-width: 1250px) {

    /*.body_container{*/
    /*    min-width: 992px;*/
    /*    max-width: 992px;*/
    /*}*/
    .container {
        padding: 0;
        width: 750px;
    }

    .highlight_product_row {
        flex-direction: column;
        margin: 10px;
    }

    .highlight_product_row {
        align-self: center;
    }

    .highlight_product_column {
        margin: 10px;
        align-self: center;
    }

    .mobileFlex {
        flex-direction: column-reverse;
    }

}


@media (max-width: 992px) {
    /*.body_container{*/
    /*    min-width: 800px;*/
    /*    max-width: 800px;*/
    /*}*/
    .container {
        width: 800px;
    }

    .popular_product_column {
        max-width: 650px;
    }

    .product_pane {
        margin: 20px;
    }
}

@media (max-width: 768px) {

    /*.body_container{*/
    /*    min-width: 768px;*/
    /*    max-width: 768px;*/
    /*}*/
    .horizon_arrow {
        display: none !important;
    }

    .popular_product_column {
        flex-direction: column;
    }

    .product_pane {
        margin: 30px 0;
        padding-bottom: 10px;
        border-bottom: rgba(27, 27, 27, 0.2) 1px solid;
    }

    .highlight_product_row {
        margin: 0;
    }

    .featured_top img {
        margin: 10px 0;
    }
}

@media (max-width: 650px) {

    /*.body_container{*/
    /*    min-width: 550px;*/
    /*    max-width: 550px;*/
    /*}*/
    .container {
        width: 550px;
    }

}

@media (max-width: 480px) {
    /*.body_container{*/
    /*    min-width: 420px;*/
    /*    max-width: 420px;*/
    /*}*/
    .container {
        width: 420px;
    }
}

@media (max-width: 415px) {
    /*.body_container{*/
    /*    min-width: 350px;*/
    /*    max-width: 350px;*/
    /*}*/
    .container {
        width: 350px;
    }

    .highlight_product_column {
        padding: 0;
        margin: 0;
    }

    .product_pane {
        min-width: 350px;
        max-width: 350px;
    }
}