html {
    height: 100%;
}

body {
    background: rgb(242, 249, 254); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242, 249, 254, 1) 0%, rgba(214, 240, 253, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242, 249, 254, 1) 0%, rgba(214, 240, 253, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242, 249, 254, 1) 0%, rgba(214, 240, 253, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe', endColorstr='#d6f0fd', GradientType=0); /* IE6-9 */

    text-align: center;
    font-family: 'Poppins', sans-serif;
}


a:hover {
    color: #005558 !important;
}

a, a:visited, a:active {
    color: inherit;
}


hr {
    border: #016988 1px solid;
    margin-bottom: 15px;
    margin-top: 10px;
}

.logo-container img {
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login-container {
    height: fit-content;
    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    margin: 70px 20px;
    padding: 30px;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    font-size: 16px;
}

.form-group input {
    line-height: 25px;
    padding-left: 10px;
    width: 100%;
    max-width: 345px;
    border: #5d5b5b 1px solid;
}

.togglePassword {
    margin-left: -40px;
    margin-top: 10px;
    cursor: pointer;
}

.signin {
    width: 100px !important;
}

.signup {
    width: 250px !important;
}

.restPassword {
    width: 250px !important;
}

.linkStyle a {
    /*text-decoration:none;*/
    color: blue;
    width: fit-content;
}

.username {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    flex-wrap: wrap;
}

.username input {
    width: 40%;
}

.password-group input {
    /*width: 89%;*/
}

/* Popup box BEGIN */
.popup-info {
    /*background:rgba(0,0,0,.4);*/
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.popup-info .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup-info > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 20%;
    position: relative;
    border-radius: 8px;
    padding: 15px 2%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial, serif;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup {
    margin-left: 5px;
    text-decoration: none;
    color: #734002;
}

/* Popup box BEGIN */

@media (max-width: 1015px) {

    .popup-info > div {
        width: 80%;
        padding: 15px 5%;
    }

}

@media (max-width: 820px) {

    .login-container {
        margin: 20px;
    }

}
