.submitBtn {
    color: #FFFFFF;
    background-color: #000000 !important;
    border: black 1px solid !important;
    padding: 0.5em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    font-family: 'Poppins', sans-serif;
}

a.button1 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000000;
    border: black 1px solid;
    text-align: center;
    position: relative;
}


a.button1:active, .button2:active, .button3:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0 0.05em rgba(255, 255, 255, 0.12);
}

a.button1:hover, .submitBtn:hover, .button3:hover {
    color: #000000 !important;
    background-color: #FFFFFF !important;
    cursor: pointer;
}

a.whiteonblkBtn:hover {
    background-color: rgba(0, 0, 0, 1) !important;
    color: #FFFFFF !important;
}

@media all and (max-width: 30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.button2 {
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    border: #565656 solid 1px;
}


.button4:active,
.button4:hover {
    /*font-weight: 600;*/
    background-color: rgb(74, 141, 139);
    color: #FFFFFF !important;
}

.button4 {
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    background-color: rgb(91, 183, 179);

}

.button3 {
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
    max-height: 25px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    border: 1px solid #404040;
}

.button3:hover {
    border: 1px solid #038da2;
    color: #078599 !important;
}

.checkbox {
    /*display: flex;*/
    cursor: pointer;
    align-items: center;
    vertical-align: middle;
    /*margin-top: 10px;*/
    word-wrap: break-word;
    /*flex-wrap: wrap;*/
}

.checkbox > span {
    padding: 0 5px;

}

.checkbox > input {
    height: 15px;
    width: 15px;
    cursor: pointer;
}