.body_container div {
    /*border: black 1px solid;*/
}

.body_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.body_container > div {
    margin: 10px;
}

.image-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 40%;
}

.image-thumbnails {
    /*flex-basis: 10%;*/
    display: flex;
    flex-direction: column;
}

.image-thumbnails img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 5px;
}

.image-active img {
    width: 100%;
    max-width: 600px;
}

.information-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.information-side > div {
    margin-bottom: 10px;
    min-height: 40px;
}

.product-name h2 {
    font-size: 30px;
    font-weight: 500;
}

.product-price {
    font-size: 19px;
    font-weight: 500;
    color: rgba(3, 126, 129, 1);
}

.product-price span {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: darkred;
}

.product-addToCart {
    border-top: rgba(27, 27, 27, 0.2) 1px solid;
    padding-top: 20px;
    margin: 10px 0;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-addToCart .button4 {
    margin-left: 20px;
    padding: 10px 50px;
}

.product-messageUs a:nth-child(2) {
    margin-left: 20px;
}

.product-messageUs {
    /*border-top: rgba(27, 27, 27, 0.2) 1px solid;*/
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.product-description, .product-properties {
    border-top: rgba(27, 27, 27, 0.2) 1px solid;
    padding-top: 10px;
    margin-top: 10px;
}

.quantityDP {
    padding: 10px 15px;
    border: #303030 1px solid;
}

.dropdown-content {
    min-width: 50px;
    text-align: center;
    left: -1px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1440px) {
}

@media (max-width: 1250px) {
}

@media (max-width: 992px) {
}

@media (max-width: 820px) {
    .body_container {
        flex-direction: column;
    }
}

@media (max-width: 650px) {

}

@media (max-width: 480px) {
    .image-side {
        flex-direction: column-reverse;
    }

    .image-thumbnails {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .img-thumb {
        max-width: 80px;
        margin: 0 2px;
    }
}

@media (max-width: 415px) {
}