.flex_wrapped_column {
    font-family: 'Poppins', sans-serif;
}

.top-panel {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 8px 6px -6px #dddddd;
    -moz-box-shadow: 0 8px 6px -6px #dddddd;
    box-shadow: 0 8px 6px -6px #dddddd;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
}

.top-panel h2 {
    font-size: 20px;
    font-weight: 400;
}

.sortDP {
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(223, 243, 243);
    line-height: 15px;
    font-size: 15px;
}

.dropdown-content a:hover {
    color: #004c4c !important;
}

.product-list-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 100%;
    min-height: 500px;
}

.category-list-container {
    flex-direction: column;
}

.filter-panel {
    order: 1;
    width: 100%;
    max-width: 170px;
    border-right: 2px solid #ddd;
    padding: 0 10px 10px 0;
    margin: 0 10px 10px 0;
    font-size: 14px;

}

.filterTitle {
    text-align: center;
    font-size: 17px;
    border-bottom: rgba(27, 27, 27, 0.2) 1px solid;
    margin-bottom: 20px !important;
    padding-bottom: 10px;
}

.filter-panel H3 {
    margin-bottom: 5px;
}

.filterOptions {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}

.filterOptions span {
    color: #34495E;
}

.filterOptions .checkbox {
    margin: 2px 0;
}

.seeFilter {
    font-size: 14px;
    color: #003ad7;
    margin-top: -10px;
}

.filterParent {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.priceCustom {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 4px;
}

.priceCustom input {
    width: 35px;
    margin-left: 2px;
}

.priceInput {
    padding: 0 2px;
    border: #1B1B1B solid 1px;
    display: flex;
    margin-right: 5px;
}

.filterLinks div {
    margin-bottom: 5px;
}

.product-list-panel {
    order: 2;
    width: 100%;
    /*padding: 10px;*/
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-content: flex-start;
}


.shop_product_pane {
    width: 250px;
    min-height: 300px;
    max-height: 380px;
    border-bottom: rgba(27, 27, 27, 0.2) 1px solid;
    margin: 20px;
    background: none;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.shop_product_pane a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-list-panel {
    order: 2;
    width: 100%;
    /*padding: 10px;*/
    margin: 10px;
    display: none;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

}

.category_pane {
    width: 150px;
    min-height: fit-content;
}

/*.product-img-title:hover{*/
/*    color: #003ad7!important;*/
/*}*/

.category_title {
    padding-left: 20px;
    font-size: 20px;
    color: #008d8d;
    margin-top: 30px;
}

.category_title_info {
    display: flex;
}

.moreCategory {
    align-self: center;
    font-size: 18px;
    color: #373737;
    margin-right: 10px;
}

.category_title hr {
    width: 100%;
    background-color: rgba(27, 27, 27, 0.2);
    height: 1px;
    margin-top: 10px;
}

.category_title:hover {
    cursor: pointer;
}

.list_all {
    order: 0;
}

.title_jt {
    order: 1;
}

.title_stone {
    order: 3;
}

.title_metal {
    order: 5;
}

.list_jt {
    order: 2;
}

.list_stone {
    order: 4;
}

.list_metal {
    order: 6;
}

.shop_product_pane img {
    align-self: center;
    width: 100%;
    max-width: 200px;
    max-height: 250px;
}

.shop_product_pane > div {
    align-self: center;
    text-align: center;
}

.product_name {
    align-self: center;
    word-wrap: break-word;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
}

.category_name {
    font-size: 16px;
}

.product_name a {
    color: rgb(68, 68, 68);
}

.product_action {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.price {
    color: #8d0202;
}

.add_wishlist {
    color: #397701 !important;
}

.product_buttons > a {
    margin-left: 20px;
    font-size: 15px;
    color: #212121;
    flex-direction: row;
    align-items: center;
}

.product_buttons > a > i {
    margin-right: 2px;
}


.section_title {
    font-family: 'Poppins', sans-serif;
    color: #303030;
    line-height: 30px;
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}


/* ---------------------------------------------------
    Filter Menu
----------------------------------------------------- */

#filterMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80% !important;
    z-index: 2;
    padding: 0;
    height: 100%;
    min-height: 500px;
    background-color: #fcfcfc;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    display: none;
}

#filterMenuPanel {
    display: none;
}

.filterOptionsSideMenu {
    transition: 0.3s;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    margin-top: 10px;
}

.sideMenuPanelHeader {
    padding: 1px 10px;
}

.sideMenuPanelHeader:hover {
    cursor: pointer;
}

.filterOptionsSideMenu label {
    padding: 10px;
}

.filterOptionsSideMenu label:hover {
    color: #009c9f !important;
    cursor: pointer;
}

.filterOptionsSideMenu label:nth-child(odd) {
    background-color: rgba(0, 208, 189, 0.1);
}

.noMatchFoundMessage {
    color: darkred;
}

.noMatchFoundMessage a {
    color: darkblue !important;
    text-decoration: underline;
}

.noMatchFoundMessage ul {
    margin-left: 10px;
    margin-top: 10px;
}

.stoneMetalCombo {
    border: rgba(66, 219, 202, 0.4) 2px solid;
    border-left: none;
    border-right: none;
    margin-bottom: 10px
}

.searchType {
    display: flex;
    flex-direction: column;
    padding: 5px 6px;
    color: black;
    background-color: rgba(108, 221, 190, 0.2);
}

.gemstones, .metalsDtos {
    background-color: rgba(220, 241, 241, 0.1);
}

.gemstones {
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 10px;
}

.metalsDtos {

    margin-bottom: 0;
}

.filterLinks a {
    padding-left: 5px;
    margin-bottom: 5px;
}

.activePrice {
    background-color: rgba(0, 255, 237, 0.3) !important;
    border-bottom: rgb(1, 110, 110) 1px solid;


}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1440px) {
}

@media (max-width: 1250px) {
}

@media (max-width: 992px) {
}

@media (max-width: 820px) {
    .product-list-panel {
        justify-content: space-around;
    }

    .category-list-panel {
        justify-content: space-around;
    }

    .category_title {
        margin-top: 0;
    }

    #filterMenuPanel {
        display: block;
        font-size: medium;
    }

    #filterMenuButton {
        margin-left: 20px;
    }

    #topPanel {
        display: none;
    }

    .filter-panel {
        display: none;
    }

    .sortDP {
        margin-bottom: 20px;
    }

    .filterParent {
        border-bottom: rgba(27, 27, 27, 0.2) 1px solid;
        padding-bottom: 10px;
    }

    .filterParent h3 {
        display: flex;
        justify-content: space-between;
    }

    .filterParent h3 i {
        color: #565656;
        align-self: center;
    }

    .filterOptionsSideMenu {
    }

    .sortLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sideMenuButtons {
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }

}

@media (max-width: 650px) {
}

@media (max-width: 480px) {
}

@media (max-width: 415px) {
}